[NDB_MGMD DEFAULT]
ArbitrationRank=1
HeartbeatIntervalMgmdMgmd=1500
Portnumber=1186

[NDB_MGMD]
NodeId=237
HostName={{ hostvars[groups[mcc_slave_{{ env }}][0]]['inventory_hostname_short'] }}
DataDir={{ management_node_dir }}
Portnumber=1186

[TCP DEFAULT]
SendBufferMemory=8M
ReceiveBufferMemory=8M

[MYSQLD DEFAULT]
AutoReconnect=false
BatchByteSize=16K
BatchSize=256
MaxScanBatchSize=256K

[NDBD DEFAULT]
NoOfReplicas=2
LateAlloc=1
StartNoNodeGroupTimeout=0
LocationDomainId=0
MaxBufferedEpochs=100
MaxBufferedEpochBytes=26214400
BackupLogBufferSize=16M
BackupReportFrequency=10
CompressedBackup=true
CompressedLCP=true
EnablePartialLcp=true
EnableRedoControl=true
MemReportFrequency=0
LogLevelStartup=1
LogLevelShutdown=0
LogLevelStatistic=0
LogLevelCheckpoint=0
LogLevelNodeRestart=0
LogLevelConnection=0
LogLevelError=0
LogLevelCongestion=0
LogLevelInfo=0
EventLogBufferSize=8K
StartupStatusReportFrequency=0
DataMemory=1G
MinFreePct=5
MaxNoOfAttributes=102400
MaxNoOfTables=2048
MaxNoOfOrderedIndexes=1024
MaxNoOfTriggers=64
MaxNoOfSubscriptions=0
MaxNoOfSubscribers=0
MaxNoOfConcurrentSubOperations=256
StringMemory=5
MaxAllocate=32M
MaxNoOfSavedMessages=25
LcpScanProgressTimeout=150
Diskless=false
LockPagesInMainMemory=1
ODirect=true
ODirectSyncFlag=true
UseShm=false
Arbitration=Default
DiskPageBufferMemory=64M
SharedGlobalMemory=300M
DiskIOThreadPool=2
DiskSyncSize=4096K
LongMessageBuffer=64M
MaxParallelCopyInstances=0
MaxNoOfConcurrentTransactions=4096
MaxNoOfConcurrentOperations=131072
MaxDMLOperationsPerTransaction=4294967295
MaxNoOfConcurrentScans=500
MaxParallelScansPerFragment=256
BatchSizePerLocalScan=256
FragmentLogFileSize=256M
NoOfFragmentLogFiles=594
InitFragmentLogFiles=SPARSE
RedoBuffer=64M
RedoOverCommitCounter=3
RedoOverCommitLimit=20
BuildIndexThreads=0
MaxNoOfExecutionThreads=8
NoOfFragmentLogParts=4
RealtimeScheduler=false
SchedulerResponsiveness=5
SchedulerSpinTimer=0
TimeBetweenLocalCheckpoints=20
TimeBetweenGlobalCheckpoints=2000
TimeBetweenGlobalCheckpointsTimeout=120000
TimeBetweenEpochs=100
TimeBetweenEpochsTimeout=32000
TimeBetweenWatchdogCheck=6000
TimeBetweenWatchdogCheckInitial=60000
TransactionInactiveTimeout=4294967039
TransactionDeadlockDetectionTimeout=1200
TimeBetweenInactiveTransactionAbortCheck=1000
HeartbeatIntervalDbDb=1500
HeartbeatIntervalDbApi=1500
ConnectCheckIntervalDelay=0
StartPartialTimeout=30000
StartPartitionedTimeout=0
StartFailureTimeout=0
ArbitrationTimeout=7500
RestartSubscriberConnectTimeout=12000
StopOnError=0
CrashOnCorruptedTuple=true
StartFailRetryDelay=0
MaxStartFailRetries=3

#Date nodes and sql nodes